/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
.header {
  @apply sticky top-0 z-50;
  background-color: #d32f2f; /* Red-600 */
  color: #ffffff;
  @apply p-2;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center; /* Vertically center the heart with the text */
}

.heart-symbol {
  margin-left: 0.5rem; /* Add space between text and heart */
  font-size: 1.5rem; /* Adjust size to match header text */
}

.header-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.header-button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.header-button:hover {
  background-color: #ff4081; /* Light Pink for hover */
  color: #ffffff; /* Ensure text remains readable */
  border-radius: 0.25rem;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%; /* Adjust based on the number of images */
  height: 100%;
  display: flex;
  flex-direction: row;
  animation: scrollBackground 15s linear infinite;
  background-size: cover; /* Ensure images cover the area */
  background-position: center; /* Center the images */
}

.hero-background img {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  object-fit: cover; /* Ensure images cover the area */
  object-position: center; /* Center the images */
}

@keyframes scrollBackground {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-66.66%); /* Adjust based on the number of images */
  }
}

.hero-content {
  position: relative;
  padding: 2rem;
  background-color: rgba(255, 105, 180, 0.6); /* Light Pink with Transparency */
  border-radius: 0.5rem;
  z-index: 1; /* Ensure content is above the background */
}

.about {
  padding: 4rem 1rem;
  background-color: #ffe0e0; /* Light Pink */
  text-align: center;
}

.gallery {
  padding: 4rem 1rem;
}

.gallery h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #c2185b; /* Pink-800 */
}

.gallery-images {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.gallery-images img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 5px solid #f48fb1; /* Light Pink Border */
}

.rsvp {
  padding: 4rem 1rem;
  background-color: #ffe0e0; /* Light Pink */
  text-align: center;
}

.rsvp-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.rsvp-form input,
.rsvp-form textarea,
.rsvp-form button {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.rsvp-form textarea {
  resize: vertical;
}

.guest-info {
  display: flex;
  flex-direction: column;
}

.guest-info label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.guest-name {
  @apply align-middle w-full;
}

.footer {
  background-color: #d32f2f; /* Red-600 */
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.checkbox-container {
  display: flex;
  align-items: center;
  @apply h-full;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px; /* Adjust the font size if needed */
  white-space: nowrap;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  border: 2px solid #000; /* Border around the checkbox */
}

.checkmark {
  display: inline-block;
  width: 25px; /* Adjust the size as needed */
  height: 25px; /* Adjust the size as needed */
  @apply bg-gray-100 border border-gray-300;
  border-radius: 5px;
  margin-right: 10px; /* Adjust the spacing as needed */
  position: relative;
}

.custom-checkbox:checked + .checkmark {
  background-color: #4caf50; /* Green background when checked */
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox:checked + .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.password-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #ffe0e9, #ffffff);
  font-family: "Georgia", serif;
}

.password-prompt-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.password-prompt h2 {
  margin-bottom: 10px;
  font-size: 2em;
  color: #d9534f;
}

.password-prompt p {
  margin-bottom: 20px;
  color: #6c757d;
}

.password-prompt input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.password-prompt input:focus {
  outline: none;
  border-color: #d9534f;
}

.password-prompt button {
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1em;
}

.password-prompt button:hover {
  background-color: #c9302c;
}

.error-message {
  color: #d9534f;
  margin-top: 10px;
}
