body {
  @apply bg-red-400;
}

.app {
  @apply content-center;
  @apply w-screen h-screen;
}

.banner {
  @apply w-full h-full;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.nav {
  @apply bg-pink-200;
  @apply rounded-full pl-4;
  @apply flex flex-wrap items-center justify-between opacity-75;
}
.tab-list {
  @apply bg-pink-200;
  @apply rounded-full px-4;
  @apply flex flex-wrap items-center justify-between;
}
.tab-list-item {
  @apply text-xl font-bold;
  @apply transition-transform;
}
.tab-list-item-active {
  @apply text-xl font-bold;
  @apply border-4 border-b-red-500;
  @apply border-t-0 border-r-0 border-l-0;
}
.tab-list-item:hover {
  @apply border-2 border-b-pink-500;
  @apply border-t-0 border-r-0 border-l-0;
}

.home {
  @apply w-full h-full;
  font-size: 50px;
  text-align: center;
}
.home-pic1 {
  background-image: url("images/homes-main-bg.jpg");
  @apply bg-center bg-auto bg-no-repeat;
}
.home h1 {
  color: #f15;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.home .date {
  color: #fff;
  background-color: #f15;
  padding: 5px;
  border-radius: 40px 0 40px 0;
  transition-duration: 0.5s;
}
.home .date:hover {
  background-color: #fff;
  color: #f15;
}

.ourstory {
  @apply w-full h-full;
  font-size: 50px;
  text-align: center;
}
.ourstory-pic1 {
  background-image: url("images/homes-bg.jpg");
  @apply bg-center bg-auto bg-no-repeat;
}
